Cliente/ArchivoWebService/Connected Services/ServicioArchivo/ServicioDeArchivo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioDeArchivo" targetNamespace="http://Services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8090/ServicioArchivo/ServicioDeArchivo?xsd=1" namespace="http://Services/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="descifrar">
    <part name="parameters" element="tns:descifrar" />
  </message>
  <message name="descifrarResponse">
    <part name="parameters" element="tns:descifrarResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="cifrar">
    <part name="parameters" element="tns:cifrar" />
  </message>
  <message name="cifrarResponse">
    <part name="parameters" element="tns:cifrarResponse" />
  </message>
  <portType name="ServicioDeArchivo">
    <operation name="hello">
      <input wsam:Action="http://Services/ServicioDeArchivo/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Services/ServicioDeArchivo/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="descifrar">
      <input wsam:Action="http://Services/ServicioDeArchivo/descifrarRequest" message="tns:descifrar" />
      <output wsam:Action="http://Services/ServicioDeArchivo/descifrarResponse" message="tns:descifrarResponse" />
      <fault wsam:Action="http://Services/ServicioDeArchivo/descifrar/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
    <operation name="cifrar">
      <input wsam:Action="http://Services/ServicioDeArchivo/cifrarRequest" message="tns:cifrar" />
      <output wsam:Action="http://Services/ServicioDeArchivo/cifrarResponse" message="tns:cifrarResponse" />
      <fault wsam:Action="http://Services/ServicioDeArchivo/cifrar/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="ServicioDeArchivoPortBinding" type="tns:ServicioDeArchivo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="descifrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
    <operation name="cifrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ServicioDeArchivo">
    <port name="ServicioDeArchivoPort" binding="tns:ServicioDeArchivoPortBinding">
      <soap:address location="http://localhost:8090/ServicioArchivo/ServicioDeArchivo" />
    </port>
  </service>
</definitions>