Cliente/ArchivoWebService/Connected Services/ServicioArchivo/ServicioDeArchivo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services/" targetNamespace="http://Services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="createFile" type="tns:createFile" />
  <xs:element name="createFileResponse" type="tns:createFileResponse" />
  <xs:element name="getFileAsBytes" type="tns:getFileAsBytes" />
  <xs:element name="getFileAsBytesResponse" type="tns:getFileAsBytesResponse" />
  <xs:element name="getFileAsJFile" type="tns:getFileAsJFile" />
  <xs:element name="getFileAsJFileResponse" type="tns:getFileAsJFileResponse" />
  <xs:element name="getNChunk" type="tns:getNChunk" />
  <xs:element name="getNChunkResponse" type="tns:getNChunkResponse" />
  <xs:element name="getNameOfFile" type="tns:getNameOfFile" />
  <xs:element name="getNameOfFileResponse" type="tns:getNameOfFileResponse" />
  <xs:element name="getNumberOfChunks" type="tns:getNumberOfChunks" />
  <xs:element name="getNumberOfChunksResponse" type="tns:getNumberOfChunksResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="sendBytes" type="tns:sendBytes" />
  <xs:element name="sendBytesResponse" type="tns:sendBytesResponse" />
  <xs:complexType name="createFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createFileResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNChunk">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNChunkResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNumberOfChunks">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNumberOfChunksResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNameOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNameOfFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFileAsBytes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFileAsBytesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFileAsJFile">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFileAsJFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendBytes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendBytesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>